<section style="width: 100%">
  <%# Elasticsearch %>
  <%# <div>
    <h1>News List</h1>
    <div> %>
      <%#= form_tag(articles_path, method: :get) do %>
        <%#= text_field_tag :search_query, @search_query, placeholder: "Search articles" %>
        <%#= submit_tag "Search" %>
      <%# end %>
    <%# </div>
    <hr>
  </div> %>

  <div style="width: 100%">
    <h2>Articles (<%= total_articles %>)</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">media</th>
          <th scope="col">Display</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
        <tr>
          <th scope="row"><%= article.id %></th>
          <td><%= link_to article.title, article.url, target: :_blank, rel: "noopener noreferrer", class: "link-dark" %></td>
          <td><%= article.published %></td>
          <td><%= article.medium.name %></td>
          <td>
            <% if article.deleted_at.nil? %>
              <%= button_to "ON", article_path(article), method: :delete, class: "pointer btn btn-success" %>
            <% else %>
              <%= button_to "OFF", article_path(article), method: :delete, class: "pointer btn btn-secondary", style: "opacity: 0.3;" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center">
      <%= paginate @articles, window: 2, :param_name => 'articles_page' %>
    </div>
  </div>
</section>