<section style="max-width: 1000px">
  <h1>News List</h1>
  <div>
    <%# 一時的に表示 %>
    <hr>
    <h2>MEDIA</h2>
    <% Medium.all.each do |m| %>
      <%= link_to m.name, m.url %><br />
    <% end %>
    <hr>
  </div>
  <div>
    <% @articles.each do |article| %>
      <div style="
        width: 90%;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 10px;
        padding: 10px
        word-break: break-all;
      ">
        <h4><%= link_to article.title, article.url %></h4>
        <img src=<%= article.image%>><br />
        <%= article.published %><br />
        <%= article.categories %><br />
        <%= article.medium.name %><br />
      </div>
    <% end %>
  </div>
</section>