<div>
  <div class="row">
    <div class="col-6">
      <h2>Media</h2>
    </div>
    <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
      <%# Using button_to in new action of get request causes an error because it is treated as a post request. %>
      <%= link_to "New Medium", new_medium_path, class: "btn btn-success" %>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col-6">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @media.each do |medium| %>
        <tr>
          <td scope="row"><%= medium.id %></td>
          <td><%= link_to "#{medium.name}", medium.url, target: :_blank, rel: "noopener noreferrer", class: "link-dark" %></td>
          <td><%= link_to "Edit", edit_medium_path(medium), class: "btn btn-success" %></td>
          <td><%= button_to "Delete", medium, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>