<h1>Categories#show</h1>
<p>name: <%= @category.name %></p>
<p>Number of articles: <%= @category.used_articles %></p>
<p>Number of searches: <%= @category.used_query %></p>
<% if @category.deleted_at.nil? %>
  <%= button_to "No display", category_path(@category), method: :delete, class: "pointer" %>
<% else %>
  <%= button_to "Display", category_path(@category), method: :delete, class: "pointer" %>
<% end %>
<%= link_to "Return", articles_path %>