<!DOCTYPE html>
<html>
  <head>
    <title>Startups</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="height: 100%">
    <%#= render partial: 'layouts/header' %>

    <div>
      <div class="row">
        <div class="col-2" style="padding-right: 0;">
          <%= render partial: 'layouts/sidebar' %>
        </div>
        <div class="col-10 p-3" style="height: 100%; min-height: 100vh; padding-left: 0;">
          <div class="container">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
